
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /*background-color: #0b535d;*/
  /*background-color: #04262a;*/
}
.smol-writing {
  font-size: 1rem;
  padding-left: 0.25rem;
}

button {
  border: none;
}
.toggle-theme {
  font-size: 2rem;
  background-color: inherit;
  padding: 2px 0.5rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  color: inherit;
  margin-left: 0.5rem;
}
button:hover {
  border: 2px solid #5d9a9b;
  padding: 0 calc(0.5rem - 2px);
}

.blub {
  position: absolute;
  bottom: 5vh;
  left: 2.5vh;
  padding: 0.5rem;
  background: #E1F2FB;
  color: #0b535d;
  border-radius: 3px;
  animation: speech-blubble linear 2s;
  animation-fill-mode: forwards;
  font-family: serif , "Times New Roman";
}
.dark {
  color: #E1F2FB;
  background: rgb(11,83,93);
  background: radial-gradient(circle, rgba(11,83,93,1) 26%, rgba(4,38,42,1) 92%);
}

h1 {
  text-align: center;
  font-family: sans-serif, Arial;
  display: flex;
  align-items: center;
  font-size: 3rem;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  color: #0b535d;
}

.water {
  max-height: 80vh;
  /*max-width: 95vw;*/
  width: auto;
}

.fish {
  position: absolute;
  bottom: 20vh;
  height: 5vh;
  left: 45vw;
  animation: turn-fish infinite 16s linear;
}
.fish img {
  height: 100%;
  animation: flip-x infinite 16s linear;
}
.fish:hover {
  cursor: pointer;
}

.jelly {
  height: 15vh;
  bottom: 30vh;
  animation-delay: 2s;
}

@keyframes turn-fish {
  0% {
    left: 35vw;
    bottom: 30vh;
    transform: scaleX(1) rotate(0deg) translateY(0px);
  }
  10% {
    transform: scaleX(1) rotate(-5deg) translateY(-1rem);
  }
  20% {
    bottom: 45vh;
    transform: scaleX(1) rotate(5deg) translateY(1rem);
  }
  30% {
    transform: scaleX(1) rotate(-5deg) translateY(-1rem);
  }
  40% {
    bottom: 25vh;
    transform: rotate(5deg) translateY(1rem);
  }
  49% {
    left: 60vw;
    transform: rotate(-5deg) translateY(-1rem);
  }
  51% {
    transform: rotate(5deg) translateY(1rem);
  }
  60% {
    bottom: 20vh;
    transform: rotate(-5deg) translateY(-1rem);
  }
  70% {
    transform: rotate(5deg) translateY(1rem);
  }
  80% {
    bottom: 40vh;
    transform: rotate(-5deg) translateY(-1rem);
  }
  90% {
    transform: rotate(5deg) translateY(1rem);
  }
  100% {
    left: 35vw;
    bottom: 30vh;
    transform: rotate(0deg) translateY(0px);
  }
}

@keyframes speech-blubble {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -30px);
  }
  50% {
    transform: translate(-20px, -60px);
  }
  75% {
    transform: translate(20px, -90px);
  }
  100% {
    transform: translate(-20px, -120px);
    opacity: 0;
  }
}

@keyframes flip-x {
  0% {
    transform: scaleX(1)
  }
  50% {
    transform: scaleX(1)
  }
  51% {
    transform: scaleX(-1)
  }
  100% {
    transform: scaleX(-1)
  }
}
