
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /*background-color: #0b535d;*/
  /*background-color: #04262a;*/
}
.smol-writing {
  font-size: 0.5rem;
  padding-left: 0.25rem;
}

button {
  border: none;
  font-size: 2rem;
  background-color: inherit;
  padding: 2px 0.5rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  color: inherit;
  margin-left: 0.5rem;
}
button:hover {
  border: 2px solid #5d9a9b;
  padding: 0 calc(0.5rem - 2px);
}

.dark {
  color: #E1F2FB;
  background: rgb(11,83,93);
  background: radial-gradient(circle, rgba(11,83,93,1) 26%, rgba(4,38,42,1) 92%);
}

h1 {
  text-align: center;
  font-family: sans-serif, Arial;
  display: flex;
  align-items: center;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.water {
  /*position: relative;*/
  max-height: 80vh;
  /*max-width: 95vw;*/
  width: auto;
}

.fish {
  position: absolute;
  bottom: 20vh;
  height: 5vh;
  left: 45vw;
  animation: turn-fish infinite 16s linear;
}

.jelly {
  height: 15vh;
  bottom: 30vh;
  animation-delay: 2s;
}

@keyframes turn-fish {
  0% {
    left: 35vw;
    bottom: 30vh;
    transform: scaleX(1) rotate(0deg) translateY(0px);
  }
  10% {
    transform: scaleX(1) rotate(-5deg) translateY(-1rem);
  }
  20% {
    bottom: 45vh;
    transform: scaleX(1) rotate(5deg) translateY(1rem);
  }
  30% {
    transform: scaleX(1) rotate(-5deg) translateY(-1rem);
  }
  40% {
    bottom: 25vh;
    transform: scaleX(1) rotate(5deg) translateY(1rem);
  }
  49% {
    left: 60vw;
    transform: scaleX(1) rotate(-5deg) translateY(-1rem);
  }
  51% {
    transform: scaleX(-1) rotate(5deg) translateY(1rem);
  }
  60% {
    bottom: 20vh;
    transform: scaleX(-1) rotate(-5deg) translateY(-1rem);
  }
  70% {
    transform: scaleX(-1) rotate(5deg) translateY(1rem);
  }
  80% {
    bottom: 40vh;
    transform: scaleX(-1) rotate(-5deg) translateY(-1rem);
  }
  90% {
    transform: scaleX(-1) rotate(5deg) translateY(1rem);
  }
  100% {
    left: 35vw;
    bottom: 30vh;
    transform: scaleX(-1) rotate(0deg) translateY(0px);
  }
}
